.bt{
 background-color: pink;
 color: purple;  
 border: 2px solid purple;
 border-radius: 5px;
 height:40px ;
 width: 60px;
 position: relative;
 left: 80px;
 
                
}
.he{

            text-shadow: 15px 1px 20px rgb(207, 250, 17);
            text-align: center;
            color: purple ;
            font-size: 50px;
            font-size: oblique;
 
}
.lgbt{
 color: navy;
 margin-left: 20px;
 text-decoration: none;
}
.crd{
    height: 550px;
    margin: 100px;
    width: 500px;
}
.txt{
    margin-top:40px ;
}
.inpt{
    
}